<app-header></app-header>
<div class="m-5">
    <h3>Place manager</h3>

    <form [formGroup]="placeForm" (ngSubmit)="createPlace()">
        <div>
            <input class="form-control" type="text" formControlName="title" id="title" placeholder="title">
            <input class="form-control" type="text" formControlName="description" id="description" placeholder="description">
        </div>

        <div>
            <input class="form-control" formControlName="geo" id="geo" placeholder="geo">
        </div>

        <div>
            <input class="form-control-sm" formControlName="longitude" id="longitude" placeholder="longitude">
            <input class="form-control-sm" formControlName="latitude" id="latitude" placeholder="latitude">
        </div>

        <div class="mt-2">
            <button type="submit">Create place</button>
        </div>
    </form>

    <div class="p-3"></div>
    <h3>All places</h3>
    <button (click)="recommendPlaces()">Update</button>
    <div *ngFor="let placeItem of recommenderResult">
        <p>{{placeItem | json}}</p>
        <button (click)="deletePlace(placeItem.id ? placeItem.id : 0)">Delete</button>
    </div>

</div>
