<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <i class="bi bi-chevron-double-right fs-3"></i>
      <h2>2Reality</h2>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" [ngClass]="getStyle('Admin')" routerLink="/admin">Admin</a></li>
      <li><a href="#" [ngClass]="getStyle('Home')" routerLink="/">Home</a></li>
      <li><a href="#" [ngClass]="getStyle('People')" routerLink="/people">People</a></li>
      <li><a href="#" [ngClass]="getStyle('Events')" routerLink="/events">Events</a></li>
      <li><a href="#" [ngClass]="getStyle('Places')" routerLink="/places">Places</a></li>
    </ul>

    <div class="col-md-3 text-end" *ngIf="!this.authenticated">
      <button type="button"
              class="btn btn-outline-primary me-2"
              routerLink="/login">Login
      </button>
      <button type="button"
              class="btn btn-primary"
              routerLink="/sign-up">Sign-up
      </button>
    </div>

    <div *ngIf="this.authenticated" class="d-flex align-items-center">
      <span class="me-2">{{this.getCurrentUser()}}</span>
      <button
        *ngIf="this.authenticated"
        (click)="signOut()"
        class="btn btn-primary">
        Sign-out
      </button>
    </div>
  </header>
</div>
