
<main>

  <section class="py-3 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Personal {{title}} recommendation</h1>
        <p class="lead text-muted">Our algorithms have selected the most suitable recommendations for you. If you want
          to improve the quality of the recommendations, interact more with the events (or commit to our
          repository).</p>
      </div>
    </div>
  </section>

  <div class="album py-2 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div *ngFor="let recommendation of recommendations">
          <app-recommend-card
          [recommendation]="recommendation">
          </app-recommend-card>
        </div>
      </div>
    </div>
  </div>

</main>

