<div class="card shadow-sm">
  <svg *ngIf="!imageIsPresent()" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
       role="img" aria-label="Placeholder: 2R" preserveAspectRatio="xMidYMid slice" focusable="false">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c"></rect>
    <text x="40%" y="50%" fill="#eceeef">{{'score: ' + recommendation.score}}</text>
  </svg>

  <svg *ngIf="imageIsPresent()" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
       role="img" aria-label="Placeholder: 2R" preserveAspectRatio="xMidYMid slice" focusable="false">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c"></rect>
    <text x="40%" y="50%" fill="#eceeef">{{'image is present'}}</text>
  </svg>

  <div class="card-body">
    <div>
      <p class="card-text">{{title()}}</p>
    </div>
    <div>
      <a *ngIf="recommendation.nickname" class="text-secondary" routerLink="{{getLink()}}">{{'@' + recommendation.nickname}}</a>
    </div>
    <p class="card-text">{{descriptionPart()}}</p>
    <div class="text-secondary">
      <p>{{recommendation.geo}}</p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-secondary">
        {{recommendation.distance + ' km'}}
      </div>
      <small class="text-muted">{{time()}}</small>
    </div>
  </div>
</div>
